/* The hero background */
.herobg {

  /* Set place */
  position: absolute;
  top: 0;
  left: 0;

  /* Set dim */
  min-width: 100%;
  min-height: 100%;

}
/* Place text in the middle of the image */
.herotext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.herotext h1{
  font-size: 44px;
}

.herotext p{
  font-size: 30px;
}

.herotext a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

  border-radius: 25px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
}

.herotext a:hover {
  background-color: #555;
  color: white;
}
